body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://i2-prod.football.london/incoming/article17909924.ece/ALTERNATES/s1200c/0_GettyImages-1210995196.jpg");
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

img {
    height: 200px; 
    width: 200px;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    object-fit: cover;
}

li {
    min-width: 200px;
    max-width: 400px;
    border-radius: 20px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    padding: 1rem;

}

p {
    font-size: 1.2rem;
}

.tag {
    font-weight: bold;
    color: rgb(221, 221, 221);
}

.team {
    background-color: rgb(199, 136, 54);
    color: white;
    padding: .5rem;
    /* display: flex; */
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
}

